<h1>Restaurant reviews</h1>
	<% for review in @reviews %>
		<%= link_to review.title, review %> submitted by <%= review.poster %><br />
		<%= review.date %><br />
		<%= review.article %><br /><br />
<% end %>
